.footer .head .title {
    color: #fff;
}
/*===========================footer=======================*/
.footer{
    background-color: #000000;
    padding: 40px 20px 50px 0;
    position: relative;
    margin-top:0px;
}
.footer:before{
    content: "";
    display: block;
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 30px;
    top: 0px;
    right: 0;
    transform: rotate(180deg);
}
.footer .service,.footer .link ,.footer .relaitional{
    margin-bottom:20px;
}
.footer .service .service-item a,.footer .link .link-item a,.footer .relaitional .relaitional-item p{
    text-decoration: none;
    font-size: .9rem;
    color: #cccccc;
    margin: 5px 0;
    position: relative;
}
.footer .service .service-item a:hover,.footer .link .link-item a:hover{
    color: #fff;
    transition: all .3s;
}
.footer .service .service-item a:before,.footer .link .link-item a:before{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #d72821;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: -13px;

}
.footer .relaitional .relaitional-item p{
    margin-bottom: 0;
}
.footer .relaitional .relaitional-item .fa{
    font-size: .9rem;
    padding-left: 5px;
}
.footer .service .service-item:first-child,.footer .link .link-item:first-child{
    margin-right: -12px;
}
.footer .service .service-item:first-child,.footer .link .link-item:first-child,.footer .relaitional .relaitional-item:first-child{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0;
}
.footer .relaitional .relaitional-item .social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}
.footer .relaitional .relaitional-item .social-media .social-media-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 5px;
    transition: all .4s;
}
.footer .relaitional .relaitional-item .social-media .social-media-item .fa{
    font-size: 1rem;
}
.footer .relaitional .relaitional-item .social-media .social-media-item .fa:nth-child(1){
    color: #fff;
}
.footer .relaitional .relaitional-item .social-media .social-media-item a:hover{
    color: #fff;
}

@media screen and (min-width: 992px){
    .footer{
        background-color: #000;
        padding: 80px 180px 10px;
    }
}