.image-box{
padding: 8px;
}
.image-box .prof-col-lg{
    width: 100%;
}
.image-box .prof-col-lg img{
    width: 100%;
height: auto;
    padding: 8px;
    position: relative;
}
.image-box .prof-image{
    position: relative;
    overflow: hidden;
}
.image-box .prof-col-lg .prof-image::before{
    position: absolute;
    top: 0;
    left: -90%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.35) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.35) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.image-box .prof-col-lg .prof-image::after{
    position: absolute;
    top: 0;
    right:200%;
    z-index: 2;
    display: block;
    content: '';
    width: 200%;
    height: 100%;
    background:rgba(255,255,255,.2);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
/*=====================animation for hover===========================*/
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@-webkit-keyframes over {
    100% {
        right:-50%;
    }
}
@keyframes over{
    0%{
        right: -50%;
    }
    100% {
        right: -50%;
    }
}
.image-box .prof-wrap{
    position: relative;
}
.image-box .prof-layer{
    position: absolute;
    top:calc(50% - 20px);
  right:0;
    z-index: 3;
    opacity: 0;
    transition: all .3s;
}
.image-box .prof-layer .prof-btn{
    background-color: #d72821;
    border-radius: 10px;
    box-shadow: inset 0 -14px 6px 3px #ffffff21;
    padding: 8px 26px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    font-family: Shabnam;
    border: 0;
    transition:all .1s;
    border: 6px outset #D72821;
    border-radius: 40px 0px 40px 40px;
}
.image-box .prof-layer .prof-btn:hover{
    box-shadow: inset 0 0px 0px 0px #ffffff4d;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 576px){
    .prof-row{
        width: 100%;
        display: flex;
    }
}
/*======================hover of jquery==================*/
.image-box .prof-col-lg .prof-wrap.style-hover-prof-wrap-image .prof-image::before{
    -webkit-animation: shine .4s;
    animation: shine .4s;
}
.image-box .prof-col-lg .prof-wrap.style-hover-prof-wrap-image .prof-image::after{
    -webkit-animation: over .45s;
    animation: over .2s;
    animation-delay: .20s ;
    animation-iteration-count: infinite;
}
.image-box .prof-col-lg .prof-wrap.style-hover-prof-wrap-image .prof-layer{
    opacity: 1;
    right:calc(50% - 52px);
}
/*======================style of footer section==================*/
.footer{
    padding: 40px 0;
    font-family: Shabnam;
}
.footer .comeback{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .comeback .back-link{
    color:#fff ;
    background-color:#d72821 ;
    border: 5px outset #D77C72;
    border-radius: 40px 40px 40px 40px;
    padding: 8px 20px;
    text-decoration: none;
    transition: all .3s;
}
.footer .comeback .back-link:hover{
    box-shadow: 0px 6px 20px 2px #7777776b;
}