.include{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
  margin:0 0 0 ;
    padding: 0 10px;
}
.include .title{
    text-align: center;
}
.include .title .heading{
    font-size: 2rem;
    color: #fff;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 1rem;
    font-family: Shabnam;
}
.include .title .caption{
    width: auto;
    font-size: .75rem;
    color: #fff;
    font-weight: normal;
}
.include .form{
display: flex;
    justify-content: center;
    flex-direction: row;
margin: 1rem 0;
    opacity: .8;
}
.include .form input{
    min-height: 50px;
    min-width: 240px;
    width: auto;
    height: auto;
    border-bottom-left-radius:0px ;
    border-top-left-radius:0px ;
    font-size: .9rem;
}
.include .form .btn-form{

    min-width: 60px;
    min-height: 50px;
    width: auto;
    height: auto;
    color: #fff;
    background-color: #d72821;
    border: 1px solid #d72821;
    border-bottom-right-radius:0px ;
    border-top-right-radius:0px ;
    font-size:1rem;
}
.include .form .btn-form:hover{
    background-color:#e00900;
}
.include .btn:focus,.include .btn.focus ,.include .form input:focus,.include .form input:active{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    border: 0;
}
/*modal*/
.include .modal{
    text-align: right;

}
.include .modal .modal-content{

}
.include .modal .modal-item{
    margin: 18px 20px;
}
.include .modal .modal-item a{
    text-decoration: none;
    line-height: .8rem;
}
.include .modal .modal--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 0px solid #dadada;
    position: relative;
    overflow: hidden;

}
.include .modal .modal--header:after{
   content: '';
    width: 300px;
    height:90px;
    background-color: #e41f1f2b;
    position: absolute;
    top: -21px;
    right: -7px;
    border-radius: 30% 70% 46% 54% / 45% 31% 69% 55%  ;
    overflow: hidden;

}
.include .modal .modal-title{
    color: #000;
    padding-right: 50px;
    z-index: 1;
   font-size: 1.5rem;
}
.include .modal .close{
    align-self: flex-start;
    display: block;
    float: left;
    font-size: 2rem;
}
.include .modal .exp{
    margin: 0;
    font-size: .8rem;
    color: #777;
}
/*responsive*/
@media screen and (min-width: 992px){
    .include{
margin:2rem 0 0;
    }
    .include .title .heading{
        font-size: 3.5rem;
        font-weight: bold;
    }
    .include .title .caption{
        font-size: .9rem;
    }
    .include .form{
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;
    }
    .include .form input{
        height: 4rem;
        width: 30rem;
        border-bottom-left-radius:0px ;
        border-top-left-radius:0px ;
        font-size: 1.3rem;
    }
    .include .form .btn-form{
       height: 4rem;
        width: 7rem;
        color: #fff;
        background-color: #d72821;
        border: 1px solid #d72821;
        border-bottom-right-radius:0px ;
        border-top-right-radius:0px ;
        font-size:1.7rem;

    }
    .include .modal-dialog {
        max-width: 900px;
        margin: 2.75rem auto;
    }
}