.navigation{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
    flex: 0 0 auto;
    background-color:#000;
    padding: 0 0 15px;
    max-height: 60px;
}
.navigation .navigate{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.navigation .navigate .fa{
    color: #fff;
}
.navigation .navbar{
    padding:0;
    max-height: 60px;
}
.navigation .navbar.navbar-style .navbar-toggler:focus {
    border: 0;
    outline: 0;
}
.navigation .navbar-brand{
    padding-bottom: 0;
}
.navigation .navbar-brand img{
    max-width:50px;
    width: 100%;
    height: auto;

}
.navigation .navbar-nav{
    padding-right: 0;
}
.navigation .nav-item:not(:last-child){
    border-bottom: 1px solid #ffffff6b;
}
.navigation .nav-item .nav-link{
    color: #fff;
    font-size: .9rem;
    text-shadow: -2px 1px 3px #3c3131;
    transition: all .3s;
}
.navigation .nav-item .nav-link:hover{
    color: rgba(199,199,199,.7);
}
.navigation .navbar-light .navbar-toggler{
    color: #fff;
    border-color: rgba(0, 0, 0, 0);
}
.navigation .navbar-collapse {
    background-color: #000;
    padding: 0 14px;
}
.navigation .nav-item .nav-link.actived-responsiv{
    color:#d72821 ;
}

@media screen and (min-width: 992px){
    .navigation{
        position: static;
        background-color: transparent;
        padding: 30px 0;
    }
    .navigation .navbar{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .navigation .navigate{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    .navigation .navbar-brand img{
        max-width:120px;
    }
    .navigation .navbar-collapse {
        background-color: transparent;
    }
    .navigation .nav-item:not(:last-child){
        border-bottom: 0px solid #fff;
    }
    .navigation .nav-item .nav-link.actived-responsiv{
        color:#fff ;
    }
    .actived{
        width: 3px;
        height: 3px;
        background-color: red;
        position: relative;
        top: -2px;
        right:49%;
        border-radius: 50%;
    }
    .actived:after{
        content: '';
        width: 3px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right:6px;
        border-radius: 50%;
    }
    .actived:before{
        content: '';
        width: 3px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left:6px;
        border-radius: 50%;
    }
    /*============================class for jquery==========================*/
    .navigation.style-navigation{
        position:fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1030;
        flex: 0 0 auto;
        background-color:#000;
        padding: 0 0 15px;
        max-height: 60px;
    }
    .navigation.style-navigation .navbar-brand img{
        max-width: 50px;
    }
}
/*============================class for responsive==========================*/
.fix-layout{
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}
