.navigation{
padding: 30px 0;
}
.navigation .navigate{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.navigation .navbar{
    padding: 8px 0;
}
/*logo design*/
.navigation .navbar-brand{
    font-family: 'Arvo';
    color: rgba(0, 0, 0, 0.6);
font-size: 1rem;
    font-weight: bold;
    text-shadow: -2px 3px 3px #868686;
}
.navigation .navbar-brand:first-letter{
    /*color: rgba(0, 0, 0, 0.6);*/
}
.navigation .navbar-brand .number-logo {
    display: block;
    color: #d72821;
    line-height: 1rem;
    width: 54%;
    border-bottom: 1px solid #d4d4d438;
    font-size: 1.5rem;
    padding-bottom: 3px;
    position: relative;
    text-shadow: 0px 0px;
    font-weight: normal;
}
.navigation .navbar-brand .name-logo{

}

.navigation .navbar-brand .name-logo{

    font-family: 'Arvo';
    font-size: 6rem;
    position: absolute;
    top: -28px;
    left: -18px;

    color: #000;
font-weight: normal;

}
.navigation .navbar-brand:hover{
    color: rgba(0, 0, 0, 0.6);
}
.navigation .navbar-nav{
    padding-right: 0;
}
.navigation .nav-item .nav-link{
    color: #fff;
    font-size: .9rem;
    text-shadow: -2px 1px 3px #3c3131;
    transition: all .3s;
}
.navigation .nav-item .nav-link:hover{
    color: rgba(199,199,199,.7);
}
@media screen and (min-width: 992px){
    .navigation .navbar{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
    .navigation .navigate{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
    }
}
