.owl-pics{
    margin: 0 70px;
}
.owl-pics .item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:20px;
    box-shadow: -1px 2px 16px 7px #cecdcd8c;
    max-width: 100%;
    min-height:270px;
    overflow: hidden;
    background-color: #fff;
}
.owl-pics .item .image{
    width: 100% ;
    height: 100%;
    max-width: 470px;
  min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

}
.owl-pics .item img{
width: auto;
    height: 100%;
 max-height: 220px;
}
.owl-pics .intro{
    align-self: self-start;
}
.owl-pics .item .more{
    margin: 10px 0;
    padding: 3px 10px;
    font-size: 1rem;
    background-color: #d72821;
    color: #ffffff;
border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
min-width: 100px;
}
.owl-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    font-size:3rem;
    position: absolute;
color: #a7a7a7e6;
}
.owl-carousel .owl-nav button.owl-next{
    top:45%;
    left: -70px;
}
.owl-carousel .owl-nav button.owl-prev{
    top:45%;
    right: -70px;
}
.owl-pics .customer {
    display: block;
    width: 200px;
    height: 240px;
    background: url("../../img/Insta3601.jpg");
    transition: 0.4s;
}
@media screen and (min-width: 992px){
    .owl-pics{
        margin: 0 140px;
    }
}
@media screen and (max-width: 576px){
    .owl-pics .item{
        margin:20px 10px;

    }
}
/*==========================css for jquery=========================*/
.owl-pics .item .more,.owl-pics .item{
    transition: min-width .4s , background-color 1s;
}
.owl-pics .item.style-more .more{
min-width: 500px;
background-color: #000;
}