.price{

}
.card-pricing{
    border: 1px solid #eee;
    text-align: center;
    border-radius: 8px;
    font-size: .8rem;
    color: #939598;
    margin-bottom: 20px;
    background-color: #fff;

}
.card-pricing:hover{
    border: 1px solid #939598;
}

.price .card-pricing .heading{
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    color: #777;
    font-family: Shabnam;
}
.price .card-pricing .pack {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    background: #eee;
padding: 10px;
}
.price .card-pricing .pack .number{
    font-size: 1.8rem;
    display: inline-block;
    margin: 0;
    padding-top: 6px;
    font-family: IRANSans;
}
.price .card-pricing .pack .unit{
    font-size: .7rem;
    display: inline-block;
}
.price .card-pricing .box{
text-align: right;
}
.price .card-pricing .box .box-item{
padding: 11px 50px;
    font-size: .8rem;
    position: relative;
    color: #767676;
}
/*.price .card-pricing .box .box-item:before{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #d72821;
    position: absolute;
    top: 9px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}*/
.price .card-pricing .box{
    padding: 10px 0px 0;
}
.price .card-pricing .box .box-item{
    display: flex;
    align-items: center;
}
.price .card-pricing .box .box-item .fa{
   margin-left:5px ;
    font-size: 1rem;
    border: 3px solid #d72821;
    border-radius: 50%;
    width: 27px;
    height:27px;
    padding: 2px 3px;
}
.price .card-pricing .box .box-item p{
    margin: 0;
    display: inline;
    border-bottom: 1px dotted #b9b8b8;
}
/*.price .card-pricing .box .box-item:nth-child(1):after{
content: '\f04b';
color: #777;
font-family: FontAwesome;
position: absolute;
top: 12px;
right:13px;
font-size: 1rem;
}
.price .card-pricing .box .box-item:nth-child(2):after{
    content: '\f0c0';
    color: #777;
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    right:13px;
    font-size: 1rem;
}
.price .card-pricing .box .box-item:nth-child(3):after{
    content: '\f279';
    color: #777;
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    right:13px;
    font-size: 1rem;
}
.price .card-pricing .box .box-item:nth-child(4):after{
    content: '\f041';
    color: #777;
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    right:13px;
    font-size: 1rem;
}*/
.price .content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
}
.price .content .fa{
    font-size: 3rem;
}
.price .content .context{
    margin: 20px 15px;
    display: inline;
    border-bottom: 1px dotted #b9b8b8;
padding: 0;
    font-size: .8rem;
}
.price .gloss{
   margin: 20px 0;
    color: #212529;
}
.price .gloss1{
    margin: 20px 0;
    font-weight: bold;
    color: #000;
}
.price .foot{
    padding: 20px 0;
    background: #eee;
    font-size: 1.3rem;
    color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: Shabnam;
    font-weight: bold;
}
.price .foot p{
   margin: 0;
}
/*==========================for suggest========================*/
.price .card-pricing.suggest{
    border: 1px solid #d72821;
    color: #fff;
}
.price .card-pricing.suggest .pack{
    background-color: #d72821;
    color: #fff;
}
.price .card-pricing.suggest .foot{
    background-color: #d72821;
    color: #fff;
}
/*==========================hover of jquery========================*/
.price .card-pricing,.price .card-pricing .pack,.price .card-pricing .foot{
    transition: all .4s;
}
.price .card-pricing.style-hover-card-pricing{
    border: 1px solid #939598;
}
.price .card-pricing.style-hover-card-pricing .pack{
    background-color: #939598;
    color: #fff;
}
.price .card-pricing.style-hover-card-pricing .foot{
    background-color: #939598;
    color: #fff;
}