* {
}

body {
    font-family: Shabnam, Tahoma;
    text-align: right;
    position: relative;
}

header {
    background: url(../../img/01617830_ShibuyaCrossingView_360VR8K_h265-1024x512.jpg) no-repeat bottom right;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header #background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

header .layer {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(59, 42, 76, 0.86);
    background: rgba(47, 40, 40, 0.72);
    width: 100%;
    height: 100%;

}

header .layer video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*===========================oval mark down========================*/
header .arrow {
    width: 30px;
    height: 50px;
    border: 0px solid #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 44%;
}

header .arrow:before {
    content: '\f103';
    width: 8px;
    height: 8px;
    font-family: FontAwesome;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 33%;
    animation: ani-mouse 2.5s linear infinite;
    font-size: 3rem;
    color: #d72821;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 60%;
    }
    50% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 60%;
    }
    50% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 60%;
    }
    50% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

/*Arrow Scroll Down*/
.arrow {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    text-align: center;
    color: #d72821;
    /*font-size: 13px;*/
    z-index: 8;
    display: block;
    left: 0;
    right: 0;
}

.arrow > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    letter-spacing: 2px;
}

.arrow > *:hover, .arrow > *:focus, .arrow > *:active {
    color: #ffffff;
}

.arrow .mouse {
    position: relative;
    display: block;
    width: 30px;
    height: 48px;
    margin: 0 auto 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #555;
    border: 2px solid #cccccc;
    border-radius: 23px;
}

.arrow .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #d72821;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/*===========================public title css========================*/
.head {
    margin: 150px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.head:before {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #d72821;
    position: absolute;
    right: 50%;
    bottom: 60px;
    margin-right: -12px;
    margin-top: 3px;
}

.head:after {
    content: '';
    width: 16px;
    height: 2px;
    background-color: #d72821;
    display: block;
    position: absolute;
    right: 50%;
    margin-right: -8px;
    bottom: 54px;
    margin-top: 3px;
}

.head .title {
    font-size: 1.4rem;
    display: block;
    line-height: 25px;
    margin: 0;
    color: #777;
    position: relative;
}

/*=============================for responsive===========================*/
@media screen and (max-width: 992px)and (min-width: 576px) {
    header .arrow {
        right: 48%;
    }
}


@media screen and (min-width: 992px) {
    header .arrow {

        right: 49%;
    }

    header {
        background: url(../../img/01617830_ShibuyaCrossingView_360VR8K_h265-1024x512.jpg) no-repeat bottom right;
        min-height: 100vh;
        background-size: cover;
        position: relative;}

    .head .title {
        line-height: 40px;
        font-size: 2rem;
    }
}