.request{
position: fixed;
    bottom: 30px;
    right: 0;
    margin: 20px;
    z-index: 9995;
}
.request .connect{
    background-color: transparent;
    color:#d72821;
    border: 0;
    position: relative;
}
.request .connect:after{
    content: '\f27a';
    width: 60px;
    height:60px;
    border-radius: 34px 8px 34px 34px;
    background-color:#d72821;
    position: absolute;
    top: -20px;
    right: 0px;
   color: #fff;
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0px 2px 8px 0px #000000ba;
}
.request .form-connect{
    background-color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
margin: 0px;
    transition: all 2s;
    border-radius: 8px;
    width: 300px;
    display: none;
}
.request .form-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d72821;
    padding:10px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.request .form-title{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: #fff;
}
.request .form-close{
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
}
.form-connect .form-popup{
padding: 20px;
}
.request .form-check-label {

    margin-right: 1.25rem;
}
.request input{
    font-size: .9rem;
}
.request .form-control:focus,.request .form-control:active{
    color: #495057;
    background-color: #fff;
    border: 1px solid #b3b8bd;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}
.request .form-btn-submit{
    color: #fff;
    background-color:#d72821;
    border-radius: 8px;
    border:3px solid #d72821;
    width: 100%;
}