.sample-card{

}
.sample-card .-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    box-shadow: -4px 6px 18px 0px #b1b1b18a;
    padding: 20px 10px 10px;
    max-height: 455px;
}

.sample-card .-card .heading{
    font-size: 1.3rem;
    color: #000;
    transition: all .3s;
    position: relative;
    right: 30px;
    padding:0 10px 10px 0;
    display: flex;
    align-items: baseline;
}
.sample-card .-card .heading:before {
   content: '';

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #d72821;
    position: absolute;
    top: 0px;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;

}
.sample-card .-card .heading:after{
    content: '\f04b';
    color: #777;
    font-family: FontAwesome;
    position: absolute;
    top: 5px;
    right: -23px;
    font-size: 1rem;
}
.sample-card .image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sample-card .image{
}/*
.sample-card img:hover{
    opacity: 0.8;
    filter: grayscale(0%);
}*/

.sample-card .layer{
    position: absolute;
    display: none;
}
.sample-card .layer a{
   background-color:#d72821;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    opacity: .9;
}

/*.sample-card .-card a{
    position: relative;
    transition:all 0.4s;
}
.sample-card .-card a:after{
    content: '';
opacity: 0;
    pointer:cursor;
}
.sample-card .-card  img:hover{
   transition:all .4s;
}
.sample-card .-card img:hover{
    opacity: 0.8;
    filter: grayscale(30%);
}
.sample-card .-card a:hover{
    transition:all .4s;
}
.sample-card .-card a:hover:after{
    content: '\f04b';
    font-family: FontAwesome;
    color: #fff;
    width: 70px;
    height: 50px;
    position: absolute;
    top:50%;
    right: 50%;
    margin-top: -18px;
    margin-right: -32px;
    background-color: red;
    border-radius: 48px / 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: .8;
    filter: grayscale(0%);
    z-index: 1020;

}*/
.sample-card .-card .heading:hover{
    color: #d72821;
}
.sample-card .-card .text{
    text-align: center;
    padding: 10px 0;
}
.sample-card .-card .explain{
font-size: .9rem;
    color: #777;

}
.sample-card .-card .more{
    font-size: 1.1rem;
    border-radius: 25px;
    background: #d72821;
    color: #fff;
border: 0;
    padding: 5px 20px;
}
.sample-card .fa{
   padding: 0px 10px 0;

}
@media screen and (min-width: 992px){
    .sample-card .-card{
      max-width: 360px;
    }
    .sample-card .-card .explain{
        font-size: 1rem;

        text-align: right;
    }
    .sample-card .-card img{
        max-width: 360px;
        max-height: 232px;
        width: 100%;
        height: auto;
    }
}