/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@font-face {
    font-family: 'far_dimona';
    src: url('far_dimona.ttf') format('truetype');
}

@font-face {
    font-family: 'iranian_sans';
    src: url('iranian sans.ttf') format('truetype');
}

@font-face {
    font-family: 'w_yekan';
    src: url('w_yekan_yasdl.com.ttf') format('truetype');
}
/* header navbar styles
-------------------------------------------------- */
.nav-logo{
 position: absolute;
    top:0;
    left: 0;
    padding: 15px;
}
.nav-logo .navbar-brand img{
    max-width: 90px;
    width: 100%;
    height: auto;
}

/* main styles
-------------------------------------------------- */
.tour iframe{
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}


.tour .tour-box{
    position: absolute;
    top:40%;
    right: 0;
    display: flex;
    align-items: center;
}
.tour .tour-btn-open{
    position: absolute;
    top: 0;
    right: -48px;
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    opacity: .4;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 1.2rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
font-size: 1.5rem;
}
/*.tour .tour-btn-open:after{
    content: '\f104';
    position:absolute;
    top:28px;
    left: 14px;
    font-family: FontAwesome;
}*/
.tour .tour-btn-close{
    color: #fff;
    background-color:transparent;
    padding: 10px 20px 10px 10px;
    opacity: 1;
    font-size: 1.3rem;
    text-shadow: 3px 3px 6px black;
}
.tour .tour-info{
    position: absolute;
    top:0;
    right:-320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(to right, transparent , #000);
}
.tour .tour-wrapper{
    min-width:310px;
background-color: rgba(255, 255, 255, 0.71);
    margin: 10px 0 10px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}
.tour .tour-wrapper .price{
    font-size: .9rem;
    margin: 0;
line-height: 1.8rem;
}
.tour .more{
    text-align: center;
    border: 2px solid red;
    border-radius: 8px;
}
.tour .more a{
    color: #000;
    text-decoration: none;
}
.tour .more.style-tour-more{
    color: #fff;
    background-color: red;
}
.tour .more.style-tour-more a{
    color: #fff;
    background-color: red;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    text-align: right;
    font-family: "w_yekan";
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.hidden{
    display:none;
}
