.footer-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    flex-direction: column;
    transition: all .3s;
}
.footer-social-media .social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}
.footer-social-media .social-media .social-media-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    background-color: #777;
    border-radius: 50%;
    width:35px;
    height:35px;
    transition: all .3s;
}
.footer-social-media .social-media .social-media-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    text-decoration: none;
    margin:0;
    transition: all .3s;
    padding: 0;
    color:#fff;
}
.footer-social-media .social-media .social-media-item .fa{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}
.footer-social-media .social-media{
    color: #000;
}
.footer-social-media .copyright{
    margin: 0;
    margin: 10px 0;
    font-size: .8rem;
    color: #777777b0;
}
/*========================hover social media=====================*/
.footer-social-media.style-hover-social-media .social-media-item{
    background-color: #fff;
}
.footer-social-media.style-hover-social-media .copyright{
    color: #fff;
}
/*twitter*/
.footer-social-media.style-hover-social-media-twitter{
    background-color: #38A1F3;
}
.footer-social-media.style-hover-social-media-twitter .social-media-item a{
    color: #38A1F3;
}
/*facebook*/
.footer-social-media.style-hover-social-media-facebook{
    background-color: #3b5998;
}
.footer-social-media.style-hover-social-media-facebook .social-media-item a{
    color: #3b5998;
}

    /*instagram*/
.footer-social-media.style-hover-social-media-instagram{
    background-color: #cd486b;
}
.footer-social-media.style-hover-social-media-instagram .social-media-item a{
    color:#cd486b;
}

    /*telegram*/
.footer-social-media.style-hover-social-media-telegram{
    background-color:#0088cc;
}
.footer-social-media.style-hover-social-media-telegram .social-media-item a{
    color:#0088cc;
}