.owl-pics{
    margin: 0 70px;
}
.owl-pics .item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:40px;
    box-shadow: -6px 6px 20px 7px #cecdcd8c;;
    max-width: 390px;
    min-height: 300px;
}

.owl-pics .intro{
    align-self: self-start;

}
.owl-pics .item .more{
    margin: 10px 0;
    padding: 3px 10px;
    font-size: 1.3rem;
    background-color: #0000005e;
    color: #ffffff;
border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;

}
.owl-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    font-size:3rem;
    position: absolute;
color: #a7a7a7e6;
}
.owl-carousel .owl-nav button.owl-next{
    top:45%;
    left: -70px;
}
.owl-carousel .owl-nav button.owl-prev{
    top:45%;
    right: -70px;
}
.owl-pics .customer {
    display: block;
    width: 200px;
    height: 240px;
    background: url("../../img/Insta3601.jpg");
    transition: 0.4s;
}
@media screen and (min-width: 992px){
    .owl-pics{
        margin: 0 140px;
    }
}
@media screen and (max-width: 576px){
    .owl-pics .item{
        margin:20px 10px;

    }
}